footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background: #333;
    & p {
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        text-align: center;
    }
    & p:hover {
        background-color: white;
        color: black;
    }
}