@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    width: 100vw;
    height: 100vh;
}


.first-page {
    @include flexCenter();
    height: 100%;
    background-image: url('../../public/assets/ropes.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    gap: 1rem;
}

.first-page-tagline {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    & p:nth-child(1) {
        font-size: 2.5em;    
    }
}

.gym-video {
    height: 200px;
    width: 280px;
    cursor: pointer;
}


@media (min-width: 1050px) {
    .first-page {
        flex-direction: row;
        gap: 5rem;
    }
    .first-page-tagline  {
        text-align: left;
    }
    .gym-video {
        height: 300px;
        width: 400px;
    }
}

@media (min-width: 600px) {
    .gym-video {
        transform: scale(1.2);
        margin-top: 2rem;
    }
}